
<div class="outer">
  <div class="close-button">
  <a href="/jobs"><button><i class="fa-solid fa-xmark"></i></button></a>
</div>
<div>
<form class=forms action="/form" method="post" enctype="multipart/form-data" id="for-edit">
  <div class="mb-3 new-margin">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control new-input" id="name" name="name" placeholder="Enter your name">
  </div>
  <div class="mb-3 new-margin">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control new-input" id="name" name="email" placeholder="Enter your email">
  </div>
  
  <div class="mb-3 new-margin">
      <label for="contact" class="form-label ">Contact</label>
      <input type="number" class="form-control new-input" id="price" name="contact"placeholder="Enter your phone number">
  </div>
  <div class="mb-3 new-margin">
      <label for="imageUrl" class="form-label">Resume</label>
      <input type="file" name="resume" id="resume" accept="images/*" />
  </div>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form>
</div>
</div>