
<div class="outer" style="border:2px solid black">
    <div class="close-button">
    <a href="/"><button><i class="fa-solid fa-xmark"></i></button></a>
    </div>
    <div>
    <form style="width:335px; " class=forms action="/login" method="post"  id="for-edit">
    <div class="mb-3 new-margin">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control new-input" id="name" name="email" placeholder="Enter your email">
    </div>
    
    <div class="mb-3 new-margin">
        <label for="password" class="form-label ">Password</label>
        <input type="password" class="form-control new-input" id="price" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary submit-button">Login</button>
    </form>
    
    </div>
    <div id="new_user" style="color:rgb(0, 103, 0)">
        <h4>New User? </h4>
        <a href="/register" style="text-decoration: none; " class="submit-button">Register now</a>
        </div>
    </div>